.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: #24034b;
    background-image: radial-gradient(at 0% 0%, hsl(279, 54%, 5%) 0, transparent 50%),
                      radial-gradient(at 50% 0%, hsl(240, 60%, 30%) 0, transparent 50%),
                      radial-gradient(at 100% 0%, rgb(48, 37, 109) 0, transparent 50%);
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
    
}

.header .nav-menu a {
    color: #ffffff;
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px blue solid;
}

.hamburger {
    display: none;
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: #18042f;
        background-image: radial-gradient(at 0% 0%, hsl(279, 54%, 5%) 0, transparent 50%),
                          radial-gradient(at 50% 0%, hsl(240, 73%, 10%) 0, transparent 50%),
                          radial-gradient(at 100% 0%, rgb(7, 5, 20) 0, transparent 50%);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: #24034b;
        background-image: radial-gradient(at 0% 0%, hsl(279, 54%, 5%) 0, transparent 50%),
                          radial-gradient(at 50% 0%, hsl(240, 60%, 30%) 0, transparent 50%),
                          radial-gradient(at 100% 0%, rgb(48, 37, 109) 0, transparent 50%);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}
















